/* Apply mobile-first approach */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 10px auto;
  padding: 2rem;
  box-sizing: border-box; /* Ensure padding is included in the max-width */
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.hero-section img {
  max-width: 100%; /* Ensure images are responsive */
  height: auto; /* Maintain aspect ratio */
}

.full-programme-container {
  padding: 1rem;
}

.show-grid {
  display: grid;
  grid-gap: 20px; /* Spacing between grid items */
  grid-template-columns: 1fr; /* Single column by default */

  /* Media query for tablets */
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }

  /* Media query for medium screens */
  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr) !important; /* 3 columns for medium screens */
  }

  /* Media query for large screens */
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr) !important; /* 4 columns for large screens */
  }
}

.show-card {
  text-align: center;
  padding: 1rem;
  border: 1px solid #0d0c0c;
  margin-bottom: 20px; /* Add margin between show cards */
}

.show-card h2 {
  margin-bottom: 10px;
}

/* Adjust dropdown menu styles for mobile */
@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: column; /* Stack nav items vertically */
  }

  .navbar-collapse {
    text-align: center; /* Center align navbar items */
  }

  .dropdown-menu {
    max-height: calc(100vh - 120px); /* Set maximum height based on viewport height minus header/footer heights */
    overflow-y: auto; /* Enable vertical scrolling */
    z-index: 1000; /* Ensure dropdown menu is above other content */
  }
}

.dropdown-menu {
  max-height: 400px; /* Set a maximum height for the dropdown menu */
  overflow-y: auto; /* Enable vertical scrolling */
}
