#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

body {
  display: flex;
  flex-direction: column;
}

.hero-section img {
  width: 7000px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

