.show-grid {
  display: grid;
  grid-gap: 20px; /* Spacing between grid items */
  grid-template-columns: 1fr; /* Single column by default */

  /* Media query for tablets */
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }

  /* Media query for medium screens */
  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
  }

  /* Media query for large screens like big Mac monitors */
  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for large screens */
  }
}
